body  {
    background-color: #0905ca;
}






.page {
    right: 0;
    color: #0905ca;
    border-radius: 0 20px 20px 0;
    transform-origin: left center;
    -webkit-animation: rot-front 1s linear;
    animation: rot-front 1s linear;
    background-color: #333333;
}

@keyframes rot-front {
    from {
        transform: translateZ(2px) rotateY(0deg);
    }

    to {
        transform: translateZ(2px) rotateY(0deg);
    }
}